#search-page {
    width: 100vw;
    height: 100vh;
    background-color: #242424;
    display: grid;
    place-items: center;
}

.main-container {
    display: grid;
    place-items: center;
}

.search {
    width: 100%;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    /* padding-right: 10rem; */
    position: absolute;
    right: 1.5rem;
    z-index: 100;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: right;
    pointer-events: none;
    color: #aaa;
    /* background-color: red; */
    cursor: pointer;
}

/* .form-inline .input-group {
    width: 500px;
} */

.main-container h1 {
    font-size: 144px;
    color: #a0a0a0;
    margin: 0px;
    padding: 0px;
}

.main-container h6 {
    padding-bottom: 2%;
    font-size: 36px;
    color: #7a7a7a;
}

.btn-search {
    background-color: transparent;
    border: none;
    z-index: 100;
    position: absolute;
    right: 0.5rem;
    color: #aaa;
    width: 50px;
    font-size: 24px
}

.link {
    text-decoration: none;
    /* color: black; */
}